{% extends 'index.html' %}
{% block body %}
<div class"row">
    {% include "products/_category_list.html" %}
    <div class="col-xs-12 col-md-9">
<ol class="breadcrumb">
  <li><a href="#">Home</a></li>
  <li><a href="#">Library</a></li>
  <li class="active">Data</li>
</ol>
        <div class="row">
            {% for product in products %}
                <div class="col-xs-12 col-md-3">
                    <a class="thumbnail" href="{{product.get_absolute_url}}">
                        <img class="img-responsive" src="{% if product.image_thumbnail_xs %}{{product.image_thumbnail_xs.url}}{% else %}#{% endif %}" alt="{{product.slug}}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
	{% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
</div>
{% endblock %}
